@import "variables.css";
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@700&display=swap");

/*** SKILL BAR CSS
.skills {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    box-sizing: border-box;
}

.skills .skill {
    border: 1px solid var(--dk-green);
    margin: .25em;
    border-radius: 0.5em;
    position: relative;
    background: var(--lt-tan);
    box-shadow: 2px 2px 7px -2px var(--dk-green);
    font-size: 1.25em;
    display: flex;
}

.bar {
    padding: .5em;
    background-color: var(--dk-green);
    border-radius: .5em;
    color: var(--lt-tan);
    font-weight: bold;
    height: .25em;
    line-height: 0em;
}

.skillDetails {
    display: inline-block;
}

.skillLevel {
    float: right;
}
    ***/

.img {
    float: left;
    height: 20rem;
    margin: 0 20px 0 0;
    border-radius: 6rem;
}

/*** BIO ***/
.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    letter-spacing: .2rem;
}

h1 {
    font-family: 'Gluten', sans-serif;
    font-size: 12rem;
    color: var(--tan);
    text-shadow: 5px 5px 0px var(--dk-green),
        10px 10px 0px var(--green),
        15px 15px 0px var(--brown);
}

b {
    letter-spacing: .2rem;
}

/*** SKILLS ***/
.skillsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.word {
    padding: 1rem;
}