@import "variables.css";

.footer {
    margin-top: auto;
    background-color: transparent;
    bottom: 0;
    width: calc(100% - 16rem);
    height: 7%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
}

a {
    color: var(--lt-tan);
    text-decoration: none;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}